.history {
  padding: 69px 10.7% 78px 10.7%;
  max-width: 100%;
  min-height: fit-content;
  background-color: white;
  border-radius: 20px;
  text-align: left;
  position: relative;
}

.history .title {
  background: linear-gradient(266deg, #55cbfb -21.73%, #1d4ed8 96.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.125rem; /* 125% */
  letter-spacing: 0.04169rem;
}

.history p {
  color: #101010;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02144rem;
  opacity: 0.5;
}

.history hr {
  stroke-width: 0.5px;
  stroke: #dedede;
  margin-bottom: 2.97rem;
}
