.left {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  padding: 6.25%;
}

.left .header {
  display: flex;
  align-items: center;
}

.left h1 {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.left .circle {
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #312ecb;
}

.left .footer {
  margin-top: 86%;
}

.left .footer p {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
