.recentVideos {
  margin-top: auto;
  width: 90%;
}

.recentVideos h4 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
}

.recentVideos hr {
  border: 1px solid #DEDEDE;
}

.recentVideos .row{
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.recentVideos .videoName,
.recentVideos .download {
  font-family: 'Poppins', sans-serif;
  /* font-size: 16px; */
  font-size: 100% !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-align: left !important;
  opacity: 1 !important;
  text-decoration: underline;
}

.recentVideos .download {
  color: #0069d5;
  text-align: right;
  cursor: pointer;
}

.recentVideos .videoSource {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600 !important;
  color: black;
  opacity: 1 !important;
  line-height: 24px;
  letter-spacing: 0.34285715222358704px;
  text-align: left !important;
}

.recentVideos p {
  margin-bottom: 0;
}

.recentVideos .col-lg-2,
.recentVideos .col-lg-5,
.recentVideos .col-lg-3{
  height: fit-content;
  padding: 0;
}