.mainCont {
  color: white;
  background-color: black;
  min-height: 100vh;
  position: relative;
  /* overflow-x: hidden; */
  overflow-y: hidden;
}

.mainCont .row {
  max-width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.mainCont .row .sideBar {
  background-color: black;
  max-height: calc(100vh - 40px);
  max-width: fit-content;
  transition: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.mainCont .row .sideBar::-webkit-scrollbar {
  width: 0;
}

.mainCont .row .sideBar:hover::-webkit-scrollbar {
  width: 5px;
  transition: 0.2s;
}

.mainCont .row .sideBar::-webkit-scrollbar-thumb {
  background-color: #1d4ed8;
  border-radius: 20px;
}

.mainCont .row .sideBar::-webkit-scrollbar-thumb:active {
  background-color: rgb(0, 0, 147);
}

.mainCont .row .mainComponent {
  position: absolute;
  right: 20px;
  max-width: calc(100vw - 40px);
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 0;
  height: calc(100vh - 40px);
  z-index: 9999999;
  transition: 0.2s;
}

.mainCont .row .mobileViewMainCont {
  min-height: 100vh;
  min-width: 100vw;
  border-radius: 0;
  right: 0;
  top: 0;
  overflow-y: auto;
  /* padding-bottom: 4rem; */
    /* background-color: #f9fafc; */

}

.mainCont::-webkit-scrollbar-thumb {
  background-color: #1d4ed8;
  border-radius: 20px;
}

.mainCont::-webkit-scrollbar-track {
  background-color: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mainCont::-webkit-scrollbar {
  max-width: 5px;
}

.mainCont .row .mainComponent .sideBarToggle {
  color: white;
  background-color: black;
  width: 70px;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  z-index: 99;
  cursor: pointer;
}
